# Melting DataFrames with melt() method

In [1]:
import pandas as pd

In [2]:
table_2012 = pd.read_csv("Data1/Course_Material_Part2/Video_Lecture_NBs/table_2012.csv")

In [3]:
table_2012

   Country  Gold  Silver  Bronze
0      USA   147      57      46
1      CHN    56      44      28
2      GBR    48      30      48
3      RUS    47      32      51
4      GER    45      28      21
5      FRA    30      30      22
6      NED    21      29      19
7      AUS    19      36      59
8      KOR    18      13      32
9      MEX    18       5       3
10     ITA    16      22      30
11     NOR    15       1       1
12     CRO    15       4      16
13     BRA    14      34      11
14     HUN    12       8       6
15     NZL     9       3      14
16     UKR     9       4      12
17     JAM     8       9       8
18     JPN     7      44      33
19     RSA     6       2       1

In [4]:
table_2012.shape

(20, 4)

In [6]:
table_2012.melt(id_vars="Country", value_vars=["Gold", "Silver", "Bronze"])#Notice how we are melting the columns Gold, Silver and Brnze to a single column variable

   Country variable  value
0      USA     Gold    147
1      CHN     Gold     56
2      GBR     Gold     48
3      RUS     Gold     47
4      GER     Gold     45
5      FRA     Gold     30
6      NED     Gold     21
7      AUS     Gold     19
8      KOR     Gold     18
9      MEX     Gold     18
10     ITA     Gold     16
11     NOR     Gold     15
12     CRO     Gold     15
13     BRA     Gold     14
14     HUN     Gold     12
15     NZL     Gold      9
16     UKR     Gold      9
17     JAM     Gold      8
18     JPN     Gold      7
19     RSA     Gold      6
20     USA   Silver     57
21     CHN   Silver     44
22     GBR   Silver     30
23     RUS   Silver     32
24     GER   Silver     28
25     FRA   Silver     30
26     NED   Silver     29
27     AUS   Silver     36
28     KOR   Silver     13
29     MEX   Silver      5
30     ITA   Silver     22
31     NOR   Silver      1
32     CRO   Silver      4
33     BRA   Silver     34
34     HUN   Silver      8
35     NZL   Silver      3
36     UKR   Silver      4
37     JAM   Silver      9
38     JPN   Silver     44
39     RSA   Silver      2
40     USA   Bronze     46
41     CHN   Bronze     28
42     GBR   Bronze     48
43     RUS   Bronze     51
44     GER   Bronze     21
45     FRA   Bronze     22
46     NED   Bronze     19
47     AUS   Bronze     59
48     KOR   Bronze     32
49     MEX   Bronze      3
50     ITA   Bronze     30
51     NOR   Bronze      1
52     CRO   Bronze     16
53     BRA   Bronze     11
54     HUN   Bronze      6
55     NZL   Bronze     14
56     UKR   Bronze     12
57     JAM   Bronze      8
58     JPN   Bronze     33
59     RSA   Bronze      1

In [9]:
#Customizing the Melted Columns names
table_2012.melt(id_vars="Country", value_vars=["Gold", "Silver", "Bronze"], var_name="Medal", value_name="Number")

   Country   Medal  Number
0      USA    Gold     147
1      CHN    Gold      56
2      GBR    Gold      48
3      RUS    Gold      47
4      GER    Gold      45
5      FRA    Gold      30
6      NED    Gold      21
7      AUS    Gold      19
8      KOR    Gold      18
9      MEX    Gold      18
10     ITA    Gold      16
11     NOR    Gold      15
12     CRO    Gold      15
13     BRA    Gold      14
14     HUN    Gold      12
15     NZL    Gold       9
16     UKR    Gold       9
17     JAM    Gold       8
18     JPN    Gold       7
19     RSA    Gold       6
20     USA  Silver      57
21     CHN  Silver      44
22     GBR  Silver      30
23     RUS  Silver      32
24     GER  Silver      28
25     FRA  Silver      30
26     NED  Silver      29
27     AUS  Silver      36
28     KOR  Silver      13
29     MEX  Silver       5
30     ITA  Silver      22
31     NOR  Silver       1
32     CRO  Silver       4
33     BRA  Silver      34
34     HUN  Silver       8
35     NZL  Silver       3
36     UKR  Silver       4
37     JAM  Silver       9
38     JPN  Silver      44
39     RSA  Silver       2
40     USA  Bronze      46
41     CHN  Bronze      28
42     GBR  Bronze      48
43     RUS  Bronze      51
44     GER  Bronze      21
45     FRA  Bronze      22
46     NED  Bronze      19
47     AUS  Bronze      59
48     KOR  Bronze      32
49     MEX  Bronze       3
50     ITA  Bronze      30
51     NOR  Bronze       1
52     CRO  Bronze      16
53     BRA  Bronze      11
54     HUN  Bronze       6
55     NZL  Bronze      14
56     UKR  Bronze      12
57     JAM  Bronze       8
58     JPN  Bronze      33
59     RSA  Bronze       1

In [10]:
melted_2012 = table_2012.melt(id_vars="Country", value_vars=["Gold", "Silver", "Bronze"], var_name="Medal", value_name="Number")

In [11]:
melted_2012.shape

(60, 3)

In [12]:
melted_2012

   Country   Medal  Number
0      USA    Gold     147
1      CHN    Gold      56
2      GBR    Gold      48
3      RUS    Gold      47
4      GER    Gold      45
5      FRA    Gold      30
6      NED    Gold      21
7      AUS    Gold      19
8      KOR    Gold      18
9      MEX    Gold      18
10     ITA    Gold      16
11     NOR    Gold      15
12     CRO    Gold      15
13     BRA    Gold      14
14     HUN    Gold      12
15     NZL    Gold       9
16     UKR    Gold       9
17     JAM    Gold       8
18     JPN    Gold       7
19     RSA    Gold       6
20     USA  Silver      57
21     CHN  Silver      44
22     GBR  Silver      30
23     RUS  Silver      32
24     GER  Silver      28
25     FRA  Silver      30
26     NED  Silver      29
27     AUS  Silver      36
28     KOR  Silver      13
29     MEX  Silver       5
30     ITA  Silver      22
31     NOR  Silver       1
32     CRO  Silver       4
33     BRA  Silver      34
34     HUN  Silver       8
35     NZL  Silver       3
36     UKR  Silver       4
37     JAM  Silver       9
38     JPN  Silver      44
39     RSA  Silver       2
40     USA  Bronze      46
41     CHN  Bronze      28
42     GBR  Bronze      48
43     RUS  Bronze      51
44     GER  Bronze      21
45     FRA  Bronze      22
46     NED  Bronze      19
47     AUS  Bronze      59
48     KOR  Bronze      32
49     MEX  Bronze       3
50     ITA  Bronze      30
51     NOR  Bronze       1
52     CRO  Bronze      16
53     BRA  Bronze      11
54     HUN  Bronze       6
55     NZL  Bronze      14
56     UKR  Bronze      12
57     JAM  Bronze       8
58     JPN  Bronze      33
59     RSA  Bronze       1

### Resetting Our DataFrame with pivot_table

In [14]:
melted_2012.pivot_table(index="Country", columns="Medal", values="Number").sort_values("Gold", ascending=False)

Medal    Bronze  Gold  Silver
Country
USA          46   147      57
CHN          28    56      44
GBR          48    48      30
RUS          51    47      32
GER          21    45      28
FRA          22    30      30
NED          19    21      29
AUS          59    19      36
KOR          32    18      13
MEX           3    18       5
ITA          30    16      22
NOR           1    15       1
CRO          16    15       4
BRA          11    14      34
HUN           6    12       8
NZL          14     9       3
UKR          12     9       4
JAM           8     8       9
JPN          33     7      44
RSA           1     6       2